@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.2rem;
  height: 100%;
}

body {
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
